<div id="<%= dom_id addfast %>">

    <strong>Name:</strong>
   <td> <%= addfast.Name %> </td>


  <p>
    <strong>Started to fast </strong>
    <%= addfast.DateAndTime.strftime("%Y-%m-%d %H:%M:%S") %>
  </p>
  <p>
    <strong>How Long Fasted </strong>
    <%= TimeDifference.between(addfast.DateAndTime.strftime("%Y-%m-%d %H:%M:%S"), currentTimeAndDate).humanize %>
  </p>
  <p>
    <strong>Kcal burned (BMR / 24) * fast time</strong>
    <%= TimeDifference.between(addfast.DateAndTime.strftime("%Y-%m-%d %H:%M:%S"), currentTimeAndDate).in_minutes %>
  </p>
</div>

